{
	"bindAddress": "127.0.0.1:8000",
	"googleTrackingId": "",
    "workers": 32,    
	"google":{
		"client_id" :"<GOOGLE_CLIENT_ID_HERE>",
		"client_secret": "<GOOGLE_CLIENT_SECRET_HERE>",
		"redirect_uri": "<YOUR_REDIRECT_URI_HERE>",
		"api_key": "<YOUR_API_KEY>"
	},
	"slack":{
		"client_id": "<SLACK_CLIENT_ID_HERE>",
		"client_secret": "<SLACK_CLIENT_SECRET_HERE>",
		"redirect_uri": "<YOUR_REDIRECT_URI_HERE>"
	},
	"mailchimp": {
		"api_key": "<API_KEY_HERE>",
		"data_center": "<MAILCHIMP_DATACENTER_HERE>",
		"list_id": ""
	}
}
